// box
.box {
    height: 262.48px;
    background-color: $color-case-gray;
    font-size: 24px;
    text-transform: capitalize;
    padding: 25px;
    &.box-product {
        background-color: $color-case-yellow;
        color: $color-case-orange;
        border-radius: 20px;
    }
    &.box-campaign {
        background-color: $color-case-blue;
        color: $color-white;
        border-radius: 20px;
        margin-bottom: 30px;
    }

}

.box-container {
    min-height: 262.48px;
    margin-bottom: 30px;
    &.box-container-last {
        margin-bottom: 0;
    }
}

// full-box
.full-box {
    height: 100%;
    background-color: $color-case-gray;
    &.campaign-wrapper {
        background-color: unset;
    }
}