// category-menu
.category-menu {
    height: 100%;
    .category-list {
        height: 100%;
        text-align: center;
    }
    .category-item {
        display: inline-block;
        height: 100%;
        margin: 0 50px;
    }
    .category-link {
        display: inline-block;
        height: 100%;
        line-height: 150px;
        color: $color-white;
        font-size: 20px;
        &.category-active {
            border-bottom: 10px solid $color-case-gray;
        }
    }
}