// loading-overlay
// .loading-overlay {
// 	background-color: rgba(255, 255, 255, 0.7);
// 	position: absolute;
// 	z-index: 17;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;

// 	&:before {
// 		content: "";
// 		max-width: calc(100% - 20px);
// 		max-height: calc(100% - 20px);
// 		width: 60px;
// 		height: 60px;
// 		position: absolute;
// 		left: 50%;
// 		top: 50%;
// 		transform: translate(-50%, -50%);
// 		background: url('../img/rolling.svg') no-repeat 0 0;
// 		background-size: contain;
// 		opacity: 0.7;
// 	}
// }