// menu
.menu {
    .menu-list {
        width: 300px;
    }
    .menu-item {
    }
    .menu-link {
        display: block;
        padding: 8px;
        color: $color-white;
        background-color: $color-case-red;
        border-bottom: 2px solid $color-case-claret;
        text-transform: uppercase;
        font-size: 15px;
        transition: all 200ms ease;
        position: relative;
        &:hover {
            background-color: lighten($color-case-claret, 3%);
        }
        &.menu-link-active {
            background-color: lighten($color-case-claret, 3%);
        }
    }
    .menu-link-subcount {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        width: 35px;
        height: 100%;
        line-height: 39px;
        padding-left: 13px;
        background-color: lighten($color-case-claret, 3%);
    }
    //submenu
    .submenu-list {
        display: none;
        border-left: 1px solid $color-case-gray-3;
        border-right: 1px solid $color-case-gray-3;
    }
    .submenu-item {
        border-bottom: $color-case-gray-3;
        &:nth-child(odd) {
            background-color: $color-white;
        }
        &:nth-child(even) {
            background-color: $color-case-gray-2;
        }
    }
    .submenu-link {
        display: block;
        padding: 8px;
        color: $color-case-red;
        border-bottom: 1px solid $color-case-gray-3;
        text-transform: capitalize;
    }
}