// shape

.shape {
    width: 400px;
    height: 400px;
    position: relative;
    border: 1px solid transparent;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    transition: all 500ms ease;
    &:hover {
        transform: rotate(45deg);
    }
    .quat-container {
        position: absolute;
        width: 200px;
        height: 200px;
        position: absolute;
        &.quat-container-tl{
            top: 0;
            left: 0;
            padding: 0 5px 5px 0;
        }
        &.quat-container-tr{
            top: 0;
            right: 0;
            padding: 0 0 5px 5px;
        }
        &.quat-container-bl{
            bottom: 0;
            left: 0;
            padding: 5px 5px 0 0;
        }
        &.quat-container-br{
            bottom: 0;
            right: 0;
            padding: 5px 0 0 5px;
        }
    }
    .quat {
        width: 100%;
        height: 100%;
        background-color: $color-case-orange;
    }
}