// forms (büyük projelerde input textarea vs ayrı dosyalara ayrılabilir.)
form {}

.form-group {}

input,
textarea {}

input[type="text"],
input[type="email"] {}

textarea {}

// placeholder
::-webkit-input-placeholder {}

:-ms-input-placeholder {}

::-moz-placeholder {}

:-moz-placeholder {}

::placeholder {}


.bvalidator-gray-invalid {
	background-color: #fff !important;
}

.bvalidator-message-container {
	position: relative !important;
	display: block;

	.bvalidator-gray-tooltip {
		background-color: transparent;
		border: none;
		box-shadow: none;
		position: relative;
		top: 0 !important;
		left: 0 !important;
		display: block;
		padding: 0;

		.bvalidator-gray-arrow {
			display: none;
		}

		.bvalidator-gray-msg {
			font-family: Rubik;
			font-size: 12px;
			font-weight: normal;
			line-height: 1.33;
			color: #c80708;
			padding-top: 5px;
		}

		.bvalidator-gray-close {
			display: none;
		}
	}
}