// globals
@import "normalize";
@import "variables";
@import "typography";

picture {
	display: inline-block;
}

img {
	max-width: 100%;
	height: auto;
}

html {
	height: 100%;
}

body {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}

.main-wrapper {
	height: 100%;
	overflow-x: hidden;
}

.logo {
	max-width: 300px;
	display: block;
	margin: 30px 0 30px 0;
}