// normalize
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
}

b, strong {
	font-weight: 700;
}

// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	line-height: 1;

}
ol, ul {
	list-style: none;
	margin: 0;
}
blockquote, q {
	quotes: none;
}
blockquote {
	&:before, &:after {
		content: "";
		content: none;
	}
}
q {
	&:before, &:after {
		content: "";
		content: none;
	}
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {text-decoration: none;}
:focus {outline: none}
*:before ,
*:after ,
* {
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.clearfix:before,.clearfix:after,
.wrapper:before, .wrapper:after,
.container:before, .container:after {content: " ";display: table;}
.clearfix:after, .wrapper:after, .container:after {clear: both;}
.clearfix, .wrapper, .container {*zoom: 1;}

.disable{
	pointer-events: none;
}

.float-right{
	float: right;
}

input[type="search"] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}

img{
    outline: none;
    border: none;
    display: inline;
    vertical-align: middle;
}


button,
input,
textarea{
	outline: none;
	border: none;
	font-family: 'Source Sans Pro', sans-serif;
}