// variables

// colors
$color-white: #fff;
$color-case-gray: #636363;
$color-case-gray-2: #f4f4f4;
$color-case-gray-3: #ebebeb;
$color-case-orange: #f5a440;
$color-case-yellow: #f8f850;
$color-case-blue: #5b8ff7;
$color-case-red: #ec3947;
$color-case-red-2: #ef6d59;
$color-case-claret: #9b2331;
$color-black: #000;

// typography
$default-font-size: 16px;
$default-font-family: "Helvetica", sans-serif;
$default-color: $color-black;

// media queries breakpoints (standart Bootsrap v3.3.7 definition)

// Extra small screen / phone
// $screen-xs : 480px !default;
// $screen-xs-min : $screen-xs !default;
// $screen-phone : $screen-xs-min !default;

// Small screen / tablet
// $screen-sm : 768px !default;
// $screen-sm-min : $screen-sm !default;
// $screen-tablet : $screen-sm-min !default;

// Medium screen / desktop
// $screen-md : 992px !default;
// $screen-md-min : $screen-md !default;
// $screen-desktop : $screen-md-min !default;

// Large screen / wide desktop
// $screen-lg : 1200px !default;
// $screen-lg-min : $screen-lg !default;
// $screen-lg-desktop : $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
// $screen-xs-max : ($screen-sm-min - 1) !default;
// $screen-sm-max : ($screen-md-min - 1) !default;
// $screen-md-max : ($screen-lg-min - 1) !default;