// page-layout

// main-wrapper
.main-wrapper {
    .main-header {
        margin-bottom: 30px;
    }
    .content-wrapper {
        margin-bottom: 30px;
    }
    .main-content {
        .row:last-child {
            .box {
                margin-bottom: 0;
            }
        }
    }
    .box {
        margin-bottom: 30px;
    }
    .shape {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .menu {
        margin-bottom: 100px;
    }
}

// content-wrapper
.content-wrapper {
    position: relative;
}