// media queries

// (standart Bootsrap v3.3.7 definition)

// $screen-xs : 480px !default;
// $screen-xs-min : $screen-xs !default;
// $screen-phone : $screen-xs-min !default;

// Small screen / tablet
// $screen-sm : 768px !default;
// $screen-sm-min : $screen-sm !default;
// $screen-tablet : $screen-sm-min !default;

// Medium screen / desktop
// $screen-md : 992px !default;
// $screen-md-min : $screen-md !default;
// $screen-desktop : $screen-md-min !default;

// Large screen / wide desktop
// $screen-lg : 1200px !default;
// $screen-lg-min : $screen-lg !default;
// $screen-lg-desktop : $screen-lg-min !default;

// $screen-xs-max : ($screen-sm-min - 1) !default;
// $screen-sm-max : ($screen-md-min - 1) !default;
// $screen-md-max : ($screen-lg-min - 1) !default;

// how to use?
// p {
//     @include sm {
//         font-size: 15px;
//     }
// }

// Phones
@mixin xs {
    @media (max-width: #{$screen-xs-max}) {
        @content;
    }
}


@mixin xs-min {
    @media (min-width: #{$screen-xs}) {
        @content;
    }
}

// Phone to Tablet
@mixin xs-sm {
    @media (min-width: #{$screen-xs}) and (max-width: #{$screen-sm}) {
        @content;
    }
}

// Tablets
@mixin sm {
    @media (max-width: #{$screen-sm-max}) {
        @content;
    }
}

@mixin sm-min {
    @media (min-width: #{$screen-sm}) {
        @content;
    }
}



// Tablet to Desktop
@mixin sm-md {
    @media (min-width: #{$screen-sm}) and (max-width: #{$screen-md}) {
        @content;
    }
}

// Desktops
@mixin md {
    @media (max-width: #{$screen-md-max}) {
        @content;
    }
}

@mixin md-min {
    @media (min-width: #{$screen-md}) {
        @content;
    }
}

// Desktop to Larger Desktop
@mixin md-lg {
    @media (min-width: #{$screen-md}) and (max-width: #{$screen-lg}) {
        @content;
    }
}


// Desktops
@mixin lg {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

@mixin lg-min {
    @media (min-width: #{$screen-lg}) {
        @content;
    }
}